* {
	box-sizing: border-box;
}

body {
	background:#fff;
	font-family: "Orbitron";
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto; 
	overflow: hidden;
}

/* --------------- HEADER ----------------*/

header {
	background: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;


} 

header .menu{
	margin: 40px 0;
	text-align: right;

}

header .menu a{
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	font-size: 1em;
	display: inline-block;
	text-decoration:none;
	border-bottom: 2px solid transparent;

}

header .menu a:hover{
	border-bottom: 2px solid #fff;
}

header .contenedor-texto {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 190px 0;

}

header .contenedor-texto .texto{
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {

	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .contenedor-texto .texto .nombre{
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 50px;
}

header .contenedor-texto .texto .profession{
	font-size: 25px;
	line-height: 25px;
}

/*----------------------------------- MAIN ---------------------------------------*/

.main .contenedor{
	overflow: visible;
}

.main .acercade {
	text-align: center;

}

.main .acercade .foto {
	margin-top: -100px;
}

.main .acercade .foto img{
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
}

.main .acercade .texto{
	color: #5a5a5a;
	font-size: 1em;
	line-height: 30px;
	width: 80%;
	margin: 40px auto 60px auto;
}

.main .acercade .texto .titulo{
	font-size: 28px;
	margin-bottom: 40px;
	color: #EA7A03;
	line-height: 34px;
	text-align: center;
}

.main .acercade .texto .bold{
	color: #3895ea;
	text-decoration: underline;
}

.main .trabajos {
	background:#f2f2f2;
	padding: 60px 0;
}

.main .trabajos .contenedor {
	overflow: hidden;
}

.main .trabajos .titulo{
		font-size: 28px;
	margin-bottom: 40px;
	color: #323068;
	line-height: 34px;
	text-align: center;
}

.main .trabajos .contenedor-trabajos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {

	width: 30%;
	margin-bottom: 40px;

}

.main .trabajos .contenedor-trabajos .trabajo .thumb{
	width: 100%
	margin-bottom:10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
	width: 100%;
	vertical-align: top;
	height: 250px;
	border-radius: 5px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {

	text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{

	color: #3895ea;
	margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{

	color: #636363;
	font-size: 14px;

}


/*----------------------------------- FOOTER ---------------------------------------*/

footer .contacto {

	padding: 60px 0;
	/*background: #a7a9ac;*/
	width: 100%;
}

footer .contacto .titulo{

		font-size: 28px;
	margin-bottom: 40px;
	color: #000;
	line-height: 34px;
	text-align: center;
}

footer .contacto .formulario{

	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: space-between;

}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
	font-size: 14px;
	margin-bottom: 15px;
} 

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
	border: 2px solid #3895ea;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
	width: 48%;
	/*margin-bottom: 15px;*/
}

footer .contacto .formulario textarea {
	width: 100%;
	min-width: 100%;
	height: 100px;
	min-height: 100px;
	max-height: 200px;
	/*margin-bottom: 15px;*/
}

footer .contacto .formulario .btn{
	text-align: center;
	font-size: 16px;
	padding: 14px 35px;
	border-radius: 3px;
	color: #fff;
	background:#0359EA;
	border: none ;
	margin: auto;
	cursor: pointer;
}

footer .contacto .formulario .btn:hover{
	background:#2003EA;
}

footer .redes {
	background: #090134;
	padding: 40px 0;
}

footer .redes .contenedor{
	display: flex;
	justify-content: center;

}

footer .redes a{

	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 35px;
	margin: 0 20px;
}

footer .redes .facebook:hover{

	background:#3b5998;
}

footer .redes .github:hover{

	background:#c9510c;
}

/*----------------------------------- MEDIA ---------------------------------------*/

@media screen and (max-width: 800px) {

		header .menu {
			text-align: center;
		}

		.main .trabajos .contenedor .trabajo{
			width: 46%;
		}


}

@media screen and (max-width: 700px) {

		header .menu {
			text-align: center;
		}

		.main .trabajos .contenedor .trabajo{
			width: 48%;
		}

}









